.cart {
    background-color: rgba(255,255,255,0.60);
    margin: 5% 15% 0 15%;
    /* min-height: 40vh; */
    width: 70%;
    border: 1px solid black;
    border-radius: 20px;
}
.cart h1 {
    margin-top: 10px;
}
.cart p {
    margin-top: 20px;
}
.cartHeader {
    margin: 15px 0;
    background-color: rgba(255,255,255,0.60);
    border-radius: 10px;
    border-bottom: 2px black solid;
    position: relative;
}
.cartHeader h3 {
    margin-top: 20px;
    align-self: center;
}
.cartHeaderEmpty {
    /* background-color: rgba(255,255,255,0.60); */
    border-radius: 10px;
    /* border-bottom: 2px black solid; */
    display: flex;
    /* height: 100px; */
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}
.cartHeaderEmpty img{
    width: 500px;
}
.cartHeaderEmpty h2{
    margin-top: 4%;
    font-weight: 400;
}
.rootLink {
    outline: none;
    border: none;
    color: #5B5A5A;
    margin: 4% 0;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}
.rootLink a{
    text-decoration: none;
    color: #5B5A5A;
}
.cart .loading {
    margin-left: 50%;
}
.itemLink{
    text-decoration: none;
    color: black;
}
.trashDiv {
    position: absolute;
    right: 20%;
    top: 15%;
    cursor: pointer;
}
.trashAllIcon {
    font-size: 30px;
    color: royalblue;
}
.trashAllIcon:hover {
    font-size: 27px;
    color: blue;
}
.productCartContainer {
    padding: 2% 0;
    width: 100%;
    height: 180px;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.productCartContainer:after {
    content: '';
    position: absolute;
    width: calc(100% - 70px);
    height: 0.5px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}
.productCartContainer h4 {
    font-weight: 400;
}
.productCartImgDiv {
    border-radius: 20px;
    width: 150px;
    max-height: 150px;
}
.productCartImg {
    border-radius: 20px;
    height: 100%;
}
.productCartInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 270px;
}
.removeCartBtn {
    border-radius: 20px;
    outline: none;
    border: none;
    color: #5B5A5A;
    font-weight: bold;
    height: 10%;
    background-color: transparent;
    align-self: center;
    width: 120px;
}
.trashIcon {
    font-size: 22px;
    cursor: pointer;
}
.trashIcon:hover {
    font-size: 25px;
    color: black;
}
form {
    background-color: rgba(255,255,255,0.40);
    border-radius: 20px;
    margin: 30px;
}
label {
    display: block;
    margin: 15px;
    text-align: start;
    font-size: 16px;
}
input {
    margin-left: 20px;
    width: 300px;
    height: 20px;
    font-size: 16px;
    font-family: 'Play';
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}
input:focus {
    outline: none
}

@media screen and (max-width: 850px) {
    .cart {
        min-height: 40vh;
    }
    .cartHeaderEmpty {
        height: 40vh;
        justify-content: space-evenly;
    }
    h2 {
        font-size: 18px;
    }
    .rootLink {
        font-size: 15px;
    }
    .cartHeaderEmpty img{
        width: 60vw;
    }
    label {
        font-size: 14px;
    }
    input {
        width: 90%;
        margin: 5% 0;
        display: block;
    }
    .trashDiv {
        position: initial;
        margin: 25px;
    }
    h4 {
        font-size: 14px;
    }
}
@media screen and (max-width: 768px) {
    .productCartContainer {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .productCartImgDiv {
        width: auto;
        max-height: initial;
    }
    .productCartInfo {
        margin: 20px;
    }
    .removeCartBtn {
        margin: 10px
    }
}